.window {
  width: 370px;
  border: 1px solid #4C4D4E;
}

.window .inner{
  padding: 10px;
}

.window .ui.labeled.input {
  margin-bottom: 5px;
  width: 340px;
}

.window .ui.labeled.input button {
  margin-left: 5px;
}

.handle {
  position: relative;
  padding: 5px;
  cursor: pointer;
  background-color: #1B1C1D;
  color: #FFFFFF;
}

  .handle span {
    margin-left: 35%;
  }

  .handle i {
    position: absolute;
    top: 5px;
    right: 0px;
  }
